.abouthome {
    background-color: var(--blue-100);
}
.abouthome-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    & img {
        max-width: 1280px;
        height: auto;
        border-radius: 36px;
        margin-top: 50px;
    }
}
