/* Estilos Footer */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-500);
    border-top: 1px solid #cfe2ee08;
    width: 100%;
    padding: 40px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 29px;
    justify-content: center;
    align-items: center;
    width: var(--width-global);
    margin: auto;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    & li a {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -1%;
        color: var(--white);
    }
    & li a:hover {
        text-decoration: underline;
    }
}
.footer-hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #ffffff10;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;

    & p {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -1%;
        color: #ffffff60;
    }
}
.footer-info_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & a {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -1%;
        color: #ffffff60;
    }
    & a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1055px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
    .footer-links {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .footer-container,
    .footer-info {
        align-items: start;
    }
    .footer-links {
        flex-direction: column;
        align-items: start;
        gap: 22px;
    }
    .footer-info_links {
        flex-direction: column;
        align-items: start;
    }
}
