.herohome {
    background-color: var(--blue-100);
}
.herohome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: var(--width-global);
    margin: auto;
    padding: 30px 0 60px 0;
}
.herohome-text {
    display: flex;
    flex-direction: column;
    gap: 36px;

    & a {
        width: fit-content;
    }
}
.herohome-imgs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & div {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    & img {
        border-radius: 20px;
    }
}

@media (max-width: 1115px) {
    .herohome-container {
        flex-direction: column;
        align-items: center;
    }
    .herohome-text {
        gap: 24px;
        & h1 {
            font-size: 32px;
            line-height: 1.4;
        }
    }
}
@media (max-width: 768px) {
    .herohome-imgs img {
        width: 100%;
        height: auto;
    }

    .herohome-imgs-group {
        & img {
            width: calc(50% - 12px); /* 50% menos la mitad del gap para que no se desborde */
            height: auto;
        }
    }
}