.aboutmission {
    background-color: var(--white);
    padding: 120px 0;
}
.aboutmission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: var(--width-global);
    margin: auto;

    & img {
        border-radius: 12px;
    }
}
.aboutmission-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

@media (max-width: 980px) {
    .aboutmission-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .aboutmission-text {
        width: 100%;
    }
    .aboutmission-container img {
        width: 100%;
        max-width: 600px;
    }
}
