.ourvalues {
    padding : 0 0 120px 0;
}
.ourvalues-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: var(--width-global);
    margin: auto;
}
.ourvalues-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 740px;
    width: 100%;
}
.ourvalues-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--blue-100);
    border-radius: 20px;
    padding: 10px 0;
}