.tarjeta {
    padding: 28px 33px;
    border-radius: 20px;
    background-color: var(--blue-100);
}
.tarjeta-container {
    display: flex;
    align-items: flex-start;
    gap: 21px;
}
.tarjeta-title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h3 {
        font-size: 21px;
        font-weight: 600;
        color: var(--gray-400);
    }
}