/* Variables CSS */
:root {
  /* Colores */
  --blue-100: #F8FAFB;
  --blue-200: #E4F2FF;
  --blue-300: #0B7DC3;
  --blue-400: #28536E;
  --blue-500: #0B2A3D;
  --white: #FFFFFF;
  --gray-200: #DDE6EB;
  --gray-300: #444444;
  --gray-400: #1C242A;
  --yellow: #FFCC00;
  --red-100: #FF2919;
  --red-200: #C22222;
  /* Tamaños y Alturas */
  --width-global: min(90%, 2000px);
  --height-header: 120px;
  /* Transiciones */
  --transition: all .25s ease-in-out;
}

/* Reset CSS */

/* Componentes y Estilos Predeterminados */

.btn-global {
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--transition);
  font-size: 16px;
  font-weight: 700;
}

.btn-primary300 {
  background-color: var(--blue-300);
  color: var(--white);
  border: none;
}
.btn-primary300:hover {
  background-color: var(--blue-400);
}
.btn-primary400 {
  background-color: var(--blue-400);
  color: var(--white);
  border: none;
}
.btn-primary400:hover {
  background-color: var(--blue-500);
}
.btn-secondary {
  background-color: var(--white);
  color: var(--blue-300);
  border: 1px solid var(--gray-200);
}
.btn-secondary:hover {
  background-color: var(--blue-200);
  border-color: var(--blue-300);
}
.btn-terciary {
  background-color: var(--white);
  color: var(--blue-500);
  border: none;
}
.btn-terciary:hover {
  filter: opacity(0.8);
}